<html>
	<head>
		<title>Assessment Manage ment</title>
	</head>
	<body>
		<div>
			<h1>
					<a href="/">Home</a> | 
					<a href="/users/add">Add New Assessment</a> | 
					<a href="/users">All Assessment List</a>
			</h1>
			
		</div>	
		<h1><%= title %></h1>
